@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700);
@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:700);
:root {
	--container-width: 380px;
	--container-padding: 15px;

	--font-main: 'Rubik', sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--page-bg: #000;
	--text-color: #fff;
	--accent: #A2FF00;

    // --laptop-size: 1199px;
	// --tablet-size: 959px;
	// --mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}