<div class="swiper-slide">
    <div class="team__slide">
        <div class="team__slide-wrapper">
            <div class="team__slide-row">
                <div class="team__slide-avatar">
                    <img src="@@img" alt="">
                </div>
                <div class="team__slide-info">
                    <div class="team__slide-person">
                        <p class="team__slide-person-title">@@name</p>
                        <ul class="team__slide-person-list">
                            <li>@@age</li>
                            <li>@@geo</li>
                        </ul>
                    </div>
    
                    <div class="team__slide-person">
                        <p class="team__slide-person-title">@@specification</p>
                        <ul class="team__slide-person-list">
                            <li>@@direction</li>
                            <li>@@language</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="team__slide-about">
                <p class="team__slide-about-title">ОБО МНЕ</p>
                <p class="team__slide-about-text">@@about</p>
            </div>
        </div>
    </div>
</div>